/* line 1, ../sass/screen.scss */
#input-program {
  width: 100%;
  font-size: 10px;
}

/* line 18, ../sass/screen.scss */
.code-block .code-block-comment {
  padding: 20px;
  margin: 10px 0;
  color: #31708F;
  border-left: 6px solid #31708F;
  background-color: #C5E6F7;
  width: 600px;
  float: left;
  clear: both;
}
/* line 28, ../sass/screen.scss */
.code-block .code-line {
  font-family: monospace;
  font-size: 13px;
  clear: left;
}
/* line 32, ../sass/screen.scss */
.code-block .code-line .address {
  color: #31708f;
  float: left;
  min-width: 50px;
}
/* line 37, ../sass/screen.scss */
.code-block .code-line .opcodes {
  color: #888;
  float: left;
  min-width: 80px;
}
/* line 42, ../sass/screen.scss */
.code-block .code-line .code-label {
  color: #aaa;
  float: left;
  min-width: 120px;
}
/* line 47, ../sass/screen.scss */
.code-block .code-line .instr {
  font-weight: bold;
  float: left;
  min-width: 50px;
  color: #000;
}
/* line 53, ../sass/screen.scss */
.code-block .code-line .additional {
  float: left;
  min-width: 150px;
}
/* line 57, ../sass/screen.scss */
.code-block .code-line .comment {
  font-family: "monospace";
  color: #31708F;
  float: left;
  width: 400px;
  font-size: 14px;
}
/* line 66, ../sass/screen.scss */
.code-block .code-line:hover div {
  background: #eee;
}

/* line 72, ../sass/screen.scss */
.tooltiptext {
  display: none;
}

/* line 76, ../sass/screen.scss */
.colapse-button {
  cursor: pointer;
}
